* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 9vw;
    margin: 0px;
    padding: 20px 0px 10px 0px;
}

h2 {
    margin-bottom: 0px;
    text-align: center;
}

table {
    margin-bottom: 10px;
}

section, footer {
    width: 80%;
    margin: 0 auto;
}

footer {
    color: #FFFFFF;
    margin-top: 10px;
    border-top: 1px solid #A9A9A9FF;
    text-align: end;
}

body {
    background-color: #D3D3D3;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.type {
    text-align: center;
}

.edit, .delete {
     background-color: #FFFFFF;
     padding: 5px;
     margin: 10px 10px;
     color: #483D8B;
     text-decoration: none;
     border-radius: 5px;
     text-align: center;
}

.pokeCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    padding: 10px 30px;
    width: 30%;
    background-color: #483D8B;
    color: #FFFFFF;
    border-radius: 10%;
}

th {
    display: none;
}

.pokeCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.addPoke {
    display: block;
    width: 40%;
    background-color: #FFFFFF;
    padding: 30px;
    margin: 20px auto;
    color: #483D8B;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

form label {
    display: block;
    margin: 10px;
}

@media screen and (max-width: 750px) {
    .pokeCard {
        width: 80%;
    }
}
